@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-size: 16px;
  @apply bg-slate-800;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.025em;
}

h2 {
  font-size: clamp(2.25rem, 11vw, 3.75rem);
  @apply mb-4;
}

h3 {
  @apply text-4xl;
  @apply mb-2;
}

h4 {
  @apply text-2xl;
  @apply mb-2;
}

p {
  @apply my-4;
}

a {
  @apply text-blue-500;
  @apply underline;
}
